<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-end">
          <!-- ปุ่มเพิ่ม -->
          <b-button variant="primary" @click="addNew()">เพิ่ม</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <!-- b-table -->
          <!-- :fields = เขียนโปรแกรมใน "" -->
          <b-table :items="products" :fields="fields">
            <!-- ทำ slot #cell(ชื่อkey)= data  -->
            <!-- data= ข้อมูลในแต่ละแถว -->
            <template #cell(operators)="data">
              <!-- data.item.ชื่อattr
                   data.index  -->

              <!-- --- ปุ่ม  ------>
              <!-- แก้ไข -->
              <b-button class="m-1" @click="editProduct(data.item)"
                >Edit</b-button
              >
              <!-- ลบ -->
              <b-button
                class="m-1"
                variant="danger"
                @click="deleteProduct(data.item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  data () {
    return {
      // !สร้าง field มาเพื่อมากำหนดหัวตาราง
      // !key = ชื่อ field
      // !label  = สิ่งที่อยากให้แสดง
      fields: [
        { key: 'productId', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        // สร้างปุ่ม
        { key: 'operators', label: 'กระบวนการ' }
      ],
      products: [
        { productId: 1, name: 'iPad gen9 64G Wifi', price: 10000 },
        { productId: 2, name: 'iPad gen10 64G Wifi', price: 10005 },
        { productId: 3, name: 'iPad gen11 64G Wifi', price: 10005 },
        { productId: 4, name: 'iPad gen12 64G Wifi', price: 10006 },
        { productId: 5, name: 'iPad gen5 64G Wifi', price: 10007 },
        { productId: 6, name: 'iPad gen7 64G Wifi', price: 10008 },
        { productId: 7, name: 'iPad gen8 64G Wifi', price: 10009 },
        { productId: 8, name: 'iPad gen9 64G Wifi', price: 100010 },
        { productId: 9, name: 'iPad gen10 64G Wifi', price: 1000111 },
        { productId: 10, name: 'iPad gen11 64G Wifi', price: 1000555 }
      ]
    }
  },
  // !---------------method-----------------
  methods: {
    editProduct (item) {},
    deleteProduct (item) {},
    addNew () {}
  }
}
</script>
<style></style>
