<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <!-- +ส่ง msg ไปให้ Helloworld -->
    <HelloWorld msg="Hello world" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home', // ชื่อ
  components: {
    HelloWorld // import
  }
}
</script>
