<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-end">
          <!-- @submit คือตัวที่ emit มา -->
          <!-- ปุ่มเพิ่มใหม่ -->
          <ProductForm
            :product="selectedItem"
            ref="productForm"
            @save="saveProduct"
          ></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <!-- b-table -->
          <!-- :fields = เขียนโปรแกรมใน "" -->
          <b-table :items="products" :fields="fields">
            <!-- ทำ slot #cell(ชื่อkey)= data เพื่อแก้ไข field  -->
            <template #cell(price)="data">
              ฿{{
                data.item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
              }}
              บาท
            </template>

            <!-- ทำ slot #cell(ชื่อkey)= data เพื่อเพิ่ม field  -->
            <!-- data= ข้อมูลในแต่ละแถว -->
            <template #cell(operators)="data">
              <!-- data.item.ชื่อattr
                   data.index  -->
              <!-- --- ปุ่ม  ------>
              <!-- แก้ไข -->
              <b-button class="m-1" @click="editProduct(data.item)"
                >Edit</b-button
              >
              <!-- ลบ -->
              <b-button
                class="m-1"
                variant="danger"
                @click="deleteProduct(data.item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  data () {
    return {
      // !สร้าง field มาเพื่อมากำหนดหัวตาราง
      // !key = ชื่อ field
      // !label  = สิ่งที่อยากให้แสดง
      fields: [
        { key: 'id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        // สร้างปุ่มเพิ่ม field นี้ยังไม่มี
        { key: 'operators', label: 'กระบวนการ' }
      ],
      products: [
        { id: 1, name: 'iPad gen9 64G Wifi', price: 10000 },
        { id: 2, name: 'iPad gen10 64G Wifi', price: 10005 },
        { id: 3, name: 'iPad gen11 64G Wifi', price: 10005 },
        { id: 4, name: 'iPad gen12 64G Wifi', price: 10006 },
        { id: 5, name: 'iPad gen5 64G Wifi', price: 10007 },
        { id: 6, name: 'iPad gen7 64G Wifi', price: 10008 },
        { id: 7, name: 'iPad gen8 64G Wifi', price: 10009 },
        { id: 8, name: 'iPad gen9 64G Wifi', price: 100010 },
        { id: 9, name: 'iPad gen10 64G Wifi', price: 1000111 },
        { id: 10, name: 'iPad gen11 64G Wifi', price: 1000555 }
      ],
      productId: 11,
      selectedItem: null
    }
  },
  // !---------------method-----------------
  methods: {
    getProducts () {
      axios.get('http://localhost:3000/products').then(
        function (respond) {
          console.log(respond)
          this.products = respond.data
        }.bind(this)
      )
    },
    saveProduct (product) {
      // ถ้า id ไม่เป็น -1: เพิ่ม
      // ถ้าไม่ใช่ -1 = แก้ไข
      if (product.id < 0) {
        /* ------------------ ข้อมูลคือ product ----------------- */
        axios.post('http://localhost:3000/products', product).then(
          function (response) {
            this.getProducts()
          }.bind(this)
        )
      } else {
        axios.put('http://localhost:3000/products/' + product.id, product).then(
          function (response) {
            this.getProducts()
          }.bind(this)
        )
      }

      console.log(product)
    },
    editProduct (item) {
      // reference item จริงๆ แต่ถ้าเราต้องการส่งข้อมูลเราควรจะส่งข้อมูลไป component ข้อมูลควรไม่ถูก reference
      // this.selectedItem = item
      // วิธีทำ
      this.selectedItem = JSON.parse(JSON.stringify(item))
      // !- ทำ nextTick เพราะ state ยังไม่ได้ถูก load ทำให้error ต้องใช้ nextTick
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      // ทำ confirm
      if (confirm(`ต้องการลบสินค้า ${product.id} จริงเปล่า ?`)) {
        axios.delete('http://localhost:3000/products/' + product.id).then(
          function (response) {
            this.getProducts()
          }.bind(this)
        )
      }
    }
  },

  mounted () {
    this.getProducts()
  }
}
</script>
<style></style>
