<template>
  <div>
    <b-button @click="addNew" variant="primary"> เพิ่มสินค้า </b-button>
    <!-- modal -->
    <b-modal
      id="modal-product"
      ref="modalProduct"
      title="สินค้า"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.prevent="submit" @reset.stop.prevent="reset">
        <!-- ชื่อสินค้า -->
        <!-- b-form-group -->
        <b-form-group
          id="form-group-product-name"
          label="ชื่อสินค้า"
          label-for="product-name"
        >
          <!-- input-->
          <b-form-input
            type="text"
            id="product-name"
            placeholder="Iphone XXX"
            v-model="form.name"
            :state="validateName"
          ></b-form-input>
          <!-- invalid feedback -->
          <b-form-invalid-feedback :state="validateName">
            ชื่อสินค้าต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>

        <!-- ราคาสินค้า -->
        <!-- b-form-group -->
        <b-form-group
          id="form-group-product-price"
          label="ชื่อสินค้า"
          label-for="product-price"
        >
          <!-- input-->
          <b-form-input
            type="number"
            id="product-price"
            placeholder="0"
            v-model="form.price"
            :state="validatePrice"
          ></b-form-input>
          <b-form-invalid-feedback :state="validatePrice">
            ราคาสินค้าต้องมากกว่า 0
          </b-form-invalid-feedback>
        </b-form-group>

        >
      </b-form>

      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  // !------- รับมา -----------
  props: {
    product: Object
  },
  data () {
    return {
      form: {
        id: -1,
        name: '',
        price: 0
      },
      isAddnew: false
    }
  },
  computed: {
    // ทำทุกครั้งที่ state เปลื่ยน
    validateName () {
      return this.form.name.length >= 3
    },
    validatePrice () {
      return this.form.price !== '' && this.form.price >= 0
    }
  },
  methods: {
    addNew () {
      this.isAddnew = true
      this.$nextTick(() => {
        this.show()
        this.isAddnew = false
      })
    },
    show () {
      this.$refs.modalProduct.show()
    },
    validateForm1 () {
      return this.validateName && this.validatePrice
    },
    submit () {
      // ส่ง object ที่ไม่ reference ไป
      // เรียกว่่า Object Clone
      var product = JSON.parse(JSON.stringify(this.form))
      product.price = parseFloat(product.price)
      this.$emit('save', product)
      this.reset()
    },
    reset () {
      this.form = {
        id: -1,
        name: '',
        price: 0
      }
    },
    showModal () {
      // ถ้าเป็น addnew:reset form
      // ถ้าเป็น edit: init ค่าลง form
      if (this.isAddnew) {
        this.reset()
      } else {
        this.form.id = this.product.id
        this.form.name = this.product.name
        this.form.price = this.product.price
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      // กดแล้วไม่จะไม่ไปไหน
      evt.preventDefault()

      // ถ้า validate ไม่ผ่านจะ return
      if (!this.validateForm1()) {
        return
      }
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      })
    }
  }
}
</script>
<style></style>
